body {
	/*
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	align-items: center;
	*/
	margin: 0px;
	overflow: auto;
	font-size: 1em;
	background-color: black;

    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

#screen {
	width: 100%;

	/*display: flex;
	flex-grow: 10;*/
	margin: auto;

	color: gold;
	font: 2em DeusEx; /*50px DeusEx;*/
	border: 1px solid black;
	background-color: black;
}

#wrap {
	display: none;
}

#stream {
	width:100%;
	height: 100%;
}

#status_keys {
	position: absolute;
	z-index: 999;
}

#status {
}

#keyboard {
}

#controls_other {
	padding-top: 2em;
}

#controls_speed {
}

#controls_lights {
}

#left {
	position: absolute;
	width: 17%;
	float: left;
}

#center {
	width: 100%;
	float: left;
}

#right {
	position: absolute;
	left: 60%;
	height: 100%;
	text-align: center;
	float: right;
}

#controls {
}

#controls_move {
	padding-top: 70%;
	padding-left: 0%;
}

#auth {
	position: absolute;
	display: none;
}

button {
	font-size: 3em;
	color: #ffffff;
	background: transparent;
	text-decoration: none;
	cursor:pointer;
}

button.big {
	font-size: 5em;
	min-width: 2em;
}

button:hover {
  background: rgba(255, 128, 0, 0.5);
  text-decoration: none;
}

.space { margin-top: 0.5em; }